<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Flickr API" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <% if flash[:alert] %>
      <div>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
